@layer tailwind-base, primereact, tailwind-utilities;

@source '../node_modules/primereact/**/*.{js,ts,jsx,tsx}';

@layer tailwind-base {
  @import "tailwindcss";
}

@layer tailwind-utilities {
}

:root {
  color-scheme: light dark;
  color: rgba(8, 32, 32, 0.86);
  background-color: #242424;
  font-family: "Gruppo", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lexend-zetta {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gruppo {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gruppo-bold {
  text-shadow: 0.4px 0 0px;
}

/* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
      }
      a:hover {
        color: #747bff;
        }
        button {
          background-color: #f9f9f9;
          }
          } */

@theme {
  --color-screen-blue: rgb(0, 128, 255);
  --color-screen-deep-blue: rgb(0, 24, 255);

  --breakpoint-*: initial;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  --font-headings: "Lexend Zetta", sans-serif;
  --font-text: "Gruppo", sans-serif;
}

.trapezoid {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  /* background: #542437; */
}
